In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from IPython.display import display
import gc

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/loan-dataset/bureau_balance.csv
/kaggle/input/loan-dataset/POS_CASH_balance.csv
/kaggle/input/loan-dataset/HC_DATA_map.png
/kaggle/input/loan-dataset/application_train.csv
/kaggle/input/loan-dataset/HomeCredit_columns_description.csv
/kaggle/input/loan-dataset/application_test.csv
/kaggle/input/loan-dataset/previous_application.csv
/kaggle/input/loan-dataset/credit_card_balance.csv
/kaggle/input/loan-dataset/installments_payments.csv
/kaggle/input/loan-dataset/HC_DATA_description.txt
/kaggle/input/loan-dataset/imbalanced classification.txt
/kaggle/input/loan-dataset/bureau.csv

In [2]:
poscash_df = pd.read_csv("/kaggle/input/loan-dataset/POS_CASH_balance.csv")
poscash_cols = poscash_df.columns
print(poscash_df.shape)
print(poscash_df.info(memory_usage="deep"))
# SK_ID_PREV = ID Prev Loan
# SK_ID_CURR = ID of curr loan
# MONTHS_BALANCE = Month of balance relative to application date
# CNT_INSTALMENT = Term of previous credit
# CNT_INSTALMENT_FUTURE = Installments left to pay on the previous credit
# NAME_CONTRACT_STATUS = Contract status during the month
# SK_DPD = DPD (days past due) during the month of previous credit
# SK_DPD_DEF = DPD during the month with tolerance

(10001358, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001358 entries, 0 to 10001357
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   SK_ID_PREV             int64
 1   SK_ID_CURR             int64
 2   MONTHS_BALANCE         int64
 3   CNT_INSTALMENT         float64
 4   CNT_INSTALMENT_FUTURE  float64
 5   NAME_CONTRACT_STATUS   object
 6   SK_DPD                 int64
 7   SK_DPD_DEF             int64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.1 GB
None

In [3]:
def ChangeType(df, org_type, target_type):
    display(df.select_dtypes(org_type).describe())
    float_cols = df.select_dtypes(org_type).columns
    df.loc[:,float_cols] = df.loc[:,float_cols].astype(target_type)
    display(df.select_dtypes(target_type).describe())
    print(df.info(memory_usage="deep"))
    
    return df

In [4]:
poscash_df = ChangeType(poscash_df, "int64", "int32")
poscash_df = ChangeType(poscash_df, "float64", "float32")

         SK_ID_PREV    SK_ID_CURR  MONTHS_BALANCE        SK_DPD    SK_DPD_DEF
count  1.000136e+07  1.000136e+07    1.000136e+07  1.000136e+07  1.000136e+07
mean   1.903217e+06  2.784039e+05   -3.501259e+01  1.160693e+01  6.544684e-01
std    5.358465e+05  1.027637e+05    2.606657e+01  1.327140e+02  3.276249e+01
min    1.000001e+06  1.000010e+05   -9.600000e+01  0.000000e+00  0.000000e+00
25%    1.434405e+06  1.895500e+05   -5.400000e+01  0.000000e+00  0.000000e+00
50%    1.896565e+06  2.786540e+05   -2.800000e+01  0.000000e+00  0.000000e+00
75%    2.368963e+06  3.674290e+05   -1.300000e+01  0.000000e+00  0.000000e+00
max    2.843499e+06  4.562550e+05   -1.000000e+00  4.231000e+03  3.595000e+03

/tmp/ipykernel_32/875978610.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,float_cols] = df.loc[:,float_cols].astype(target_type)

         SK_ID_PREV    SK_ID_CURR  MONTHS_BALANCE        SK_DPD    SK_DPD_DEF
count  1.000136e+07  1.000136e+07    1.000136e+07  1.000136e+07  1.000136e+07
mean   1.903217e+06  2.784039e+05   -3.501259e+01  1.160693e+01  6.544684e-01
std    5.358465e+05  1.027637e+05    2.606657e+01  1.327140e+02  3.276249e+01
min    1.000001e+06  1.000010e+05   -9.600000e+01  0.000000e+00  0.000000e+00
25%    1.434405e+06  1.895500e+05   -5.400000e+01  0.000000e+00  0.000000e+00
50%    1.896565e+06  2.786540e+05   -2.800000e+01  0.000000e+00  0.000000e+00
75%    2.368963e+06  3.674290e+05   -1.300000e+01  0.000000e+00  0.000000e+00
max    2.843499e+06  4.562550e+05   -1.000000e+00  4.231000e+03  3.595000e+03

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001358 entries, 0 to 10001357
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   SK_ID_PREV             int32
 1   SK_ID_CURR             int32
 2   MONTHS_BALANCE         int32
 3   CNT_INSTALMENT         float64
 4   CNT_INSTALMENT_FUTURE  float64
 5   NAME_CONTRACT_STATUS   object
 6   SK_DPD                 int32
 7   SK_DPD_DEF             int32
dtypes: float64(2), int32(5), object(1)
memory usage: 946.5 MB
None

       CNT_INSTALMENT  CNT_INSTALMENT_FUTURE
count    9.975287e+06           9.975271e+06
mean     1.708965e+01           1.048384e+01
std      1.199506e+01           1.110906e+01
min      1.000000e+00           0.000000e+00
25%      1.000000e+01           3.000000e+00
50%      1.200000e+01           7.000000e+00
75%      2.400000e+01           1.400000e+01
max      9.200000e+01           8.500000e+01

/tmp/ipykernel_32/875978610.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,float_cols] = df.loc[:,float_cols].astype(target_type)

       CNT_INSTALMENT  CNT_INSTALMENT_FUTURE
count    9.975287e+06           9.975271e+06
mean     1.708964e+01           1.048384e+01
std      1.199506e+01           1.110906e+01
min      1.000000e+00           0.000000e+00
25%      1.000000e+01           3.000000e+00
50%      1.200000e+01           7.000000e+00
75%      2.400000e+01           1.400000e+01
max      9.200000e+01           8.500000e+01

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001358 entries, 0 to 10001357
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   SK_ID_PREV             int32
 1   SK_ID_CURR             int32
 2   MONTHS_BALANCE         int32
 3   CNT_INSTALMENT         float32
 4   CNT_INSTALMENT_FUTURE  float32
 5   NAME_CONTRACT_STATUS   object
 6   SK_DPD                 int32
 7   SK_DPD_DEF             int32
dtypes: float32(2), int32(5), object(1)
memory usage: 870.2 MB
None

In [5]:
credit_df = pd.read_csv("/kaggle/input/loan-dataset/credit_card_balance.csv")
print(credit_df.shape)
print(credit_df.info(memory_usage="deep"))
credit_cols = credit_df.columns
# AMT_BALANCE = Balance during the month of previous credit
# AMT_CREDIT_LIMIT_ACTUAL = Credit card limit during the month of the previous credit
# AMT_DRAWINGS_ATM_CURRENT = Amount drawing at ATM during the month of the previous credit
# AMT_DRAWINGS_CURRENT = Amount drawing during the month of the previous credit
# AMT_DRAWINGS_OTHER_CURRENT = Amount of other drawings during the month of the previous credit
# AMT_DRAWINGS_POS_CURRENT = Amount drawing or buying goods during the month of the previous credit
# AMT_INST_MIN_REGULARITY = Minimal installment for this month of the previous credit
# AMT_PAYMENT_CURRENT = How much did the client pay during the month on the previous credit
# AMT_PAYMENT_TOTAL_CURRENT = How much did the client pay during the month in total on the previous credit
# AMT_RECEIVABLE_PRINCIPAL = Amount receivable for principal on the previous credit
# AMT_RECIVABLE = Amount receivable on the previous credit
# AMT_TOTAL_RECEIVABLE = Total amount receivable on the previous credit
# CNT_DRAWINGS_ATM_CURRENT = Number of drawings at ATM during this month on the previous credit
# CNT_DRAWINGS_CURREN = Number of drawings during this month on the previous credit
# CNT_DRAWINGS_OTHER_CURRENT = Number of other drawings during this month on the previous credit
# CNT_DRAWINGS_POS_CURRENT = Number of drawings for goods during this month on the previous credit
# CNT_INSTALMENT_MATURE_CUM = Number of paid installments on the previous credit
# NAME_CONTRACT_STATUS = Contract status (active signed,...) on the previous credit
# SK_DPD = DPD (Days past due) during the month on the previous credit
# SK_DPD_DEF = DPD (Days past due) during the month with tolerance (debts with low loan amounts are ignored) of the...

(3840312, 23)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   SK_ID_PREV                  int64
 1   SK_ID_CURR                  int64
 2   MONTHS_BALANCE              int64
 3   AMT_BALANCE                 float64
 4   AMT_CREDIT_LIMIT_ACTUAL     int64
 5   AMT_DRAWINGS_ATM_CURRENT    float64
 6   AMT_DRAWINGS_CURRENT        float64
 7   AMT_DRAWINGS_OTHER_CURRENT  float64
 8   AMT_DRAWINGS_POS_CURRENT    float64
 9   AMT_INST_MIN_REGULARITY     float64
 10  AMT_PAYMENT_CURRENT         float64
 11  AMT_PAYMENT_TOTAL_CURRENT   float64
 12  AMT_RECEIVABLE_PRINCIPAL    float64
 13  AMT_RECIVABLE               float64
 14  AMT_TOTAL_RECEIVABLE        float64
 15  CNT_DRAWINGS_ATM_CURRENT    float64
 16  CNT_DRAWINGS_CURRENT        int64
 17  CNT_DRAWINGS_OTHER_CURRENT  float64
 18  CNT_DRAWINGS_POS_CURRENT    float64
 19  CNT_INSTALMENT_MATURE_CUM   float64
 20  NAME_CONTRACT_STATUS        object
 21  SK_DPD                      int64
 22  SK_DPD_DEF                  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 875.7 MB
None

In [6]:
credit_df = ChangeType(credit_df, "int64", "int32")
credit_df = ChangeType(credit_df, "float64", "float32")
gc.collect()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,CNT_DRAWINGS_CURRENT,SK_DPD,SK_DPD_DEF
count,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06
mean,1.904504e+06,2.783242e+05,-3.452192e+01,1.538080e+05,7.031439e-01,9.283667e+00,3.316220e-01
std,5.364695e+05,1.027045e+05,2.666775e+01,1.651457e+05,3.190347e+00,9.751570e+01,2.147923e+01
min,1.000018e+06,1.000060e+05,-9.600000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.434385e+06,1.895170e+05,-5.500000e+01,4.500000e+04,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.897122e+06,2.783960e+05,-2.800000e+01,1.125000e+05,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.369328e+06,3.675800e+05,-1.100000e+01,1.800000e+05,0.000000e+00,0.000000e+00,0.000000e+00
max,2.843496e+06,4.562500e+05,-1.000000e+00,1.350000e+06,1.650000e+02,3.260000e+03,3.260000e+03

/tmp/ipykernel_32/875978610.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,float_cols] = df.loc[:,float_cols].astype(target_type)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,CNT_DRAWINGS_CURRENT,SK_DPD,SK_DPD_DEF
count,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06
mean,1.904504e+06,2.783242e+05,-3.452192e+01,1.538080e+05,7.031439e-01,9.283667e+00,3.316220e-01
std,5.364695e+05,1.027045e+05,2.666775e+01,1.651457e+05,3.190347e+00,9.751570e+01,2.147923e+01
min,1.000018e+06,1.000060e+05,-9.600000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.434385e+06,1.895170e+05,-5.500000e+01,4.500000e+04,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.897122e+06,2.783960e+05,-2.800000e+01,1.125000e+05,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.369328e+06,3.675800e+05,-1.100000e+01,1.800000e+05,0.000000e+00,0.000000e+00,0.000000e+00
max,2.843496e+06,4.562500e+05,-1.000000e+00,1.350000e+06,1.650000e+02,3.260000e+03,3.260000e+03

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   SK_ID_PREV                  int32
 1   SK_ID_CURR                  int32
 2   MONTHS_BALANCE              int32
 3   AMT_BALANCE                 float64
 4   AMT_CREDIT_LIMIT_ACTUAL     int32
 5   AMT_DRAWINGS_ATM_CURRENT    float64
 6   AMT_DRAWINGS_CURRENT        float64
 7   AMT_DRAWINGS_OTHER_CURRENT  float64
 8   AMT_DRAWINGS_POS_CURRENT    float64
 9   AMT_INST_MIN_REGULARITY     float64
 10  AMT_PAYMENT_CURRENT         float64
 11  AMT_PAYMENT_TOTAL_CURRENT   float64
 12  AMT_RECEIVABLE_PRINCIPAL    float64
 13  AMT_RECIVABLE               float64
 14  AMT_TOTAL_RECEIVABLE        float64
 15  CNT_DRAWINGS_ATM_CURRENT    float64
 16  CNT_DRAWINGS_CURRENT        int32
 17  CNT_DRAWINGS_OTHER_CURRENT  float64
 18  CNT_DRAWINGS_POS_CURRENT    float64
 19  CNT_INSTALMENT_MATURE_CUM   float64
 20  NAME_CONTRACT_STATUS        object
 21  SK_DPD                      int32
 22  SK_DPD_DEF                  int32
dtypes: float64(15), int32(7), object(1)
memory usage: 773.1 MB
None

,AMT_BALANCE,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM
count,3.840312e+06,3.090496e+06,3.840312e+06,3.090496e+06,3.090496e+06,3.535076e+06,3.072324e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.090496e+06,3.090496e+06,3.090496e+06,3.535076e+06
mean,5.830016e+04,5.961325e+03,7.433388e+03,2.881696e+02,2.968805e+03,3.540204e+03,1.028054e+04,7.588857e+03,5.596588e+04,5.808881e+04,5.809829e+04,3.094490e-01,4.812496e-03,5.594791e-01,2.082508e+01
std,1.063070e+05,2.822569e+04,3.384608e+04,8.201989e+03,2.079689e+04,5.600154e+03,3.607808e+04,3.200599e+04,1.025336e+05,1.059654e+05,1.059718e+05,1.100401e+00,8.263861e-02,3.240649e+00,2.005149e+01
min,-4.202502e+05,-6.827310e+03,-6.211620e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-4.233058e+05,-4.202502e+05,-4.202502e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.523700e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.702700e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
75%,8.904669e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.633911e+03,9.000000e+03,6.750000e+03,8.535924e+04,8.889949e+04,8.891451e+04,0.000000e+00,0.000000e+00,0.000000e+00,3.200000e+01
max,1.505902e+06,2.115000e+06,2.287098e+06,1.529847e+06,2.239274e+06,2.028820e+05,4.289207e+06,4.278316e+06,1.472317e+06,1.493338e+06,1.493338e+06,5.100000e+01,1.200000e+01,1.650000e+02,1.200000e+02

/tmp/ipykernel_32/875978610.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,float_cols] = df.loc[:,float_cols].astype(target_type)

,AMT_BALANCE,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM
count,3.840312e+06,3.090496e+06,3.840312e+06,3.090496e+06,3.090496e+06,3.535076e+06,3.072324e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.090496e+06,3.090496e+06,3.090496e+06,3.535076e+06
mean,5.830016e+04,5.961323e+03,7.433390e+03,2.881696e+02,2.968804e+03,3.540206e+03,1.028054e+04,7.588856e+03,5.596585e+04,5.808884e+04,5.809825e+04,3.094490e-01,4.812496e-03,5.594791e-01,2.082509e+01
std,1.063070e+05,2.822569e+04,3.384608e+04,8.201989e+03,2.079689e+04,5.600154e+03,3.607809e+04,3.200599e+04,1.025336e+05,1.059654e+05,1.059718e+05,1.100401e+00,8.263861e-02,3.240649e+00,2.005149e+01
min,-4.202502e+05,-6.827310e+03,-6.211620e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-4.233058e+05,-4.202502e+05,-4.202502e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.523700e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.702700e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
75%,8.904669e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.633911e+03,9.000000e+03,6.750000e+03,8.535924e+04,8.889949e+04,8.891451e+04,0.000000e+00,0.000000e+00,0.000000e+00,3.200000e+01
max,1.505902e+06,2.115000e+06,2.287098e+06,1.529847e+06,2.239274e+06,2.028820e+05,4.289208e+06,4.278316e+06,1.472317e+06,1.493338e+06,1.493338e+06,5.100000e+01,1.200000e+01,1.650000e+02,1.200000e+02

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   SK_ID_PREV                  int32
 1   SK_ID_CURR                  int32
 2   MONTHS_BALANCE              int32
 3   AMT_BALANCE                 float32
 4   AMT_CREDIT_LIMIT_ACTUAL     int32
 5   AMT_DRAWINGS_ATM_CURRENT    float32
 6   AMT_DRAWINGS_CURRENT        float32
 7   AMT_DRAWINGS_OTHER_CURRENT  float32
 8   AMT_DRAWINGS_POS_CURRENT    float32
 9   AMT_INST_MIN_REGULARITY     float32
 10  AMT_PAYMENT_CURRENT         float32
 11  AMT_PAYMENT_TOTAL_CURRENT   float32
 12  AMT_RECEIVABLE_PRINCIPAL    float32
 13  AMT_RECIVABLE               float32
 14  AMT_TOTAL_RECEIVABLE        float32
 15  CNT_DRAWINGS_ATM_CURRENT    float32
 16  CNT_DRAWINGS_CURRENT        int32
 17  CNT_DRAWINGS_OTHER_CURRENT  float32
 18  CNT_DRAWINGS_POS_CURRENT    float32
 19  CNT_INSTALMENT_MATURE_CUM   float32
 20  NAME_CONTRACT_STATUS        object
 21  SK_DPD                      int32
 22  SK_DPD_DEF                  int32
dtypes: float32(15), int32(7), object(1)
memory usage: 553.4 MB
None

0

In [7]:
train_df = pd.read_csv("/kaggle/input/loan-dataset/application_train.csv")
train_cols = train_df.columns
display(train_df)

# AMT_INCOME_TOTAL = Income of the client
# AMT_CREDIT = Credit amount of the loan
# AMT_ANNUITY = Loan annuity
# AMT_GOODS_PRICE = For consumer loans it is the price of the goods for which the loan is given
# NAME_TYPE_SUITE = Who was accompanying client when he was applying for the loan
# NAME_INCOME_TYPE = Clients income type (businessman, working, maternity leave)
# NAME_EDUCATION_TYPE = Level of highest education the client achieved
# NAME_FAMILY_STATUS = Family status of the client
# NAME_HOUSING_TYPE = What is the housing situation of the client (renting, living with parents, ...)
# REGION_POPULATION_RELATIVE = Normalized population of region where client lives (higher number means the client lives in more pop...
# DAYS_BIRTH = Client's age in days at the time of application
# DAYS_EMPLOYED = How many days before the application the person started current employment
# DAYS_REGISTRATION = How many days before the application did client change his registration
# DAYS_ID_PUBLISH = How many days before the application did client change the identity document with which he applied f...
# OWN_CAR_AGE = Age of client's car
# FLAG_MOBIL = Did client provide mobile phone (1=YES, 0=NO)
# FLAG_EMP_PHONE = Did client provide work phone (1=YES, 0=NO)
# FLAG_WORK_PHONE = Did client provide home phone (1=YES, 0=NO)
# FLAG_CONT_MOBILE = Was mobile phone reachable (1=YES, 0=NO)
# FLAG_PHONE = Did client provide home phone (1=YES, 0=NO)
# FLAG_EMAIL = Did client provide email (1=YES, 0=NO)
# OCCUPATION_TYPE = What kind of occupation does the client have
# CNT_FAM_MEMBERS = How many family members does client have
# REGION_RATING_CLIENT = Our rating of the region where client lives (1,2,3)
# REGION_RATING_CLIENT_W_CITY = Our rating of the region where client lives with taking city into account (1,2,3)
# WEEKDAY_APPR_PROCESS_START = On which day of the week did the client apply for the loan
# HOUR_APPR_PROCESS_START = Approximately at what hour did the client apply for the loan
# REG_REGION_NOT_LIVE_REGION = Flag if client's permanent address does not match contact address (1=different, 0=same, at region le...
# REG_REGION_NOT_WORK_REGION = Flag if client's permanent address does not match work address (1=different, 0=same, at region level...
# LIVE_REGION_NOT_WORK_REGION = Flag if client's contact address does not match work address (1=different, 0=same, at region level)
# REG_CITY_NOT_LIVE_CITY = Flag if client's permanent address does not match contact address (1=different, 0=same, at city leve...
# REG_CITY_NOT_WORK_CITY = Flag if client's permanent address does not match work address (1=different, 0=same, at city level)
# LIVE_CITY_NOT_WORK_CITY = Flag if client's contact address does not match work address (1=different, 0=same, at city level)
# ORGANIZATION_TYPE = Type of organization where client works
# EXT_SOURCE_1 = Normalized score from external data source
# EXT_SOURCE_2 = Normalized score from external data source
# EXT_SOURCE_3 = Normalized score from external data source
# APARTMENTS_AVG = Normalized information about building where the client lives, What is average (_AVG suffix), modus (...
# BASEMENTAREA_AVG = Normalized information about building where the client lives, What is average (_AVG suffix), modus (...
# YEARS_BEGINEXPLUATATION_AVG = Normalized information about building where the client lives, What is average (_AVG suffix), modus (...
# YEARS_BUILD_AVG = Normalized information about building where the client lives, What is average (_AVG suffix), modus (...
# COMMONAREA_AVG = Normalized information about building where the client lives, What is average (_AVG suffix), modus (...
# ELEVATORS_AVG = Normalized information about building where the client lives, What is average (_AVG suffix), modus (...
# ENTRANCES_AVG = Normalized information about building where the client lives, What is average (_AVG suffix), modus (...
# FLOORSMAX_AVG = Normalized information about building where the client lives, What is average (_AVG suffix), modus (...
# FLOORSMIN_AVG = Normalized information about building where the client lives, What is average (_AVG suffix), modus (...
# LANDAREA_AVG = Normalized information about building where the client lives, What is average (_AVG suffix), modus (...
# LIVINGAPARTMENTS_AVG = Normalized information about building where the client lives, What is average (_AVG suffix), modus (...
# LIVINGAREA_AVG = Normalized information about building where the client lives, What is average (_AVG suffix), modus (...
# NONLIVINGAPARTMENTS_AVG = Normalized information about building where the client lives, What is average (_AVG suffix), modus (...
# NONLIVINGAREA_AVG = Normalized information about building where the client lives, What is average (_AVG suffix), modus (...

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [8]:
train_df = ChangeType(train_df, "int64", "int32")
train_df = ChangeType(train_df, "float64", "float32")
gc.collect()

,SK_ID_CURR,TARGET,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
count,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.00000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000
mean,278180.518577,0.080729,0.417052,-16036.995067,63815.045904,-2994.202373,0.999997,0.819889,0.199368,0.998133,...,0.000007,0.003525,0.002936,0.00121,0.009928,0.000267,0.008130,0.000595,0.000507,0.000335
std,102790.175348,0.272419,0.722121,4363.988632,141275.766519,1509.450419,0.001803,0.384280,0.399526,0.043164,...,0.002550,0.059268,0.054110,0.03476,0.099144,0.016327,0.089798,0.024387,0.022518,0.018299
min,100002.000000,0.000000,0.000000,-25229.000000,-17912.000000,-7197.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,-19682.000000,-2760.000000,-4299.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,-15750.000000,-1213.000000,-3254.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,367142.500000,0.000000,1.000000,-12413.000000,-289.000000,-1720.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,456255.000000,1.000000,19.000000,-7489.000000,365243.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

/tmp/ipykernel_32/875978610.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,float_cols] = df.loc[:,float_cols].astype(target_type)

,SK_ID_CURR,TARGET,CNT_CHILDREN,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
count,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.00000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000
mean,278180.518577,0.080729,0.417052,-16036.995067,63815.045904,-2994.202373,0.999997,0.819889,0.199368,0.998133,...,0.000007,0.003525,0.002936,0.00121,0.009928,0.000267,0.008130,0.000595,0.000507,0.000335
std,102790.175348,0.272419,0.722121,4363.988632,141275.766519,1509.450419,0.001803,0.384280,0.399526,0.043164,...,0.002550,0.059268,0.054110,0.03476,0.099144,0.016327,0.089798,0.024387,0.022518,0.018299
min,100002.000000,0.000000,0.000000,-25229.000000,-17912.000000,-7197.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,-19682.000000,-2760.000000,-4299.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,-15750.000000,-1213.000000,-3254.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,367142.500000,0.000000,1.000000,-12413.000000,-289.000000,-1720.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,456255.000000,1.000000,19.000000,-7489.000000,365243.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int32(41), object(16)
memory usage: 488.6 MB
None

,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,OWN_CAR_AGE,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,...,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,104582.000000,307509.000000,134133.000000,3.068510e+05,...,306490.000000,306490.000000,306490.000000,307510.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-4986.120328,12.061091,2.152665,0.502130,5.143927e-01,...,0.143421,1.405292,0.100049,-962.858788,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,3522.886321,11.944812,0.910682,0.211062,1.910602e-01,...,0.446698,2.379803,0.362291,826.808487,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-24672.000000,0.000000,1.000000,0.014568,8.173617e-08,...,0.000000,0.000000,0.000000,-4292.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-7479.500000,5.000000,2.000000,0.334007,3.924574e-01,...,0.000000,0.000000,0.000000,-1570.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-4504.000000,9.000000,2.000000,0.505998,5.659614e-01,...,0.000000,0.000000,0.000000,-757.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-2010.000000,15.000000,3.000000,0.675053,6.636171e-01,...,0.000000,2.000000,0.000000,-274.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,0.000000,91.000000,20.000000,0.962693,8.549997e-01,...,34.000000,344.000000,24.000000,0.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

/tmp/ipykernel_32/875978610.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,float_cols] = df.loc[:,float_cols].astype(target_type)

,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,OWN_CAR_AGE,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,...,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,104582.000000,307509.000000,134133.000000,3.068510e+05,...,306490.000000,306490.000000,306490.000000,307510.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,1.687979e+05,5.990259e+05,27108.572266,5.383961e+05,0.020868,-4986.120117,12.061090,2.152665,0.502130,5.143928e-01,...,0.143421,1.405292,0.100049,-962.858765,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,2.371231e+05,4.024908e+05,14493.737305,3.694465e+05,0.013831,3522.886230,11.944812,0.910682,0.211062,1.910602e-01,...,0.446698,2.379803,0.362291,826.808472,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-24672.000000,0.000000,1.000000,0.014568,8.173617e-08,...,0.000000,0.000000,0.000000,-4292.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-7479.500000,5.000000,2.000000,0.334007,3.924574e-01,...,0.000000,0.000000,0.000000,-1570.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-4504.000000,9.000000,2.000000,0.505998,5.659614e-01,...,0.000000,0.000000,0.000000,-757.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-2010.000000,15.000000,3.000000,0.675053,6.636171e-01,...,0.000000,2.000000,0.000000,-274.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,0.000000,91.000000,20.000000,0.962693,8.549997e-01,...,34.000000,344.000000,24.000000,0.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float32(65), int32(41), object(16)
memory usage: 412.3 MB
None

0

In [9]:
train_df.select_dtypes(include="object")

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
0,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
1,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,Core staff,MONDAY,School,reg oper account,block of flats,Block,No
2,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,MONDAY,Government,NaN,NaN,NaN,NaN
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
4,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Core staff,THURSDAY,Religion,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,Cash loans,M,N,N,Unaccompanied,Working,Secondary / secondary special,Separated,With parents,Sales staff,THURSDAY,Services,reg oper account,block of flats,"Stone, brick",No
307507,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,NaN,MONDAY,XNA,reg oper account,block of flats,"Stone, brick",No
307508,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Separated,House / apartment,Managers,THURSDAY,School,reg oper account,block of flats,Panel,No
307509,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 1,NaN,block of flats,"Stone, brick",No
307510,Cash loans,F,N,N,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,Laborers,THURSDAY,Business Entity Type 3,NaN,block of flats,Panel,No

In [10]:
nonan_cols = (
    train_df
    .isna()
    .sum(axis=0)
    /train_df.shape[0]
    *100 <= 30
)
display(train_df.loc[:,nonan_cols])
nan_cols = nonan_cols[(nonan_cols == False)].index.to_list()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

# EDA

# DATA MANIPULATION

In [13]:
merge_df = pd.merge(train_df, credit_df, on="SK_ID_CURR", how="inner")

In [14]:
def DelNas(df):
    print(df.shape)
    nona_cols = (
        df
        .isna()
        .sum()
        /df.shape[0]*100 <= 30
    )
    df = df.loc[:, nona_cols]
    print(df.shape)
    
    return df

merge_df = DelNas(merge_df)
poscash_df = DelNas(poscash_df)

(3227965, 144)
(3227965, 95)
(10001358, 8)
(10001358, 8)

In [15]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3227965 entries, 0 to 3227964
Data columns (total 95 columns):
 #   Column                       Dtype
---  ------                       -----
 0   SK_ID_CURR                   int32
 1   TARGET                       int32
 2   NAME_CONTRACT_TYPE           object
 3   CODE_GENDER                  object
 4   FLAG_OWN_CAR                 object
 5   FLAG_OWN_REALTY              object
 6   CNT_CHILDREN                 int32
 7   AMT_INCOME_TOTAL             float32
 8   AMT_CREDIT                   float32
 9   AMT_ANNUITY                  float32
 10  AMT_GOODS_PRICE              float32
 11  NAME_TYPE_SUITE              object
 12  NAME_INCOME_TYPE             object
 13  NAME_EDUCATION_TYPE          object
 14  NAME_FAMILY_STATUS           object
 15  NAME_HOUSING_TYPE            object
 16  REGION_POPULATION_RELATIVE   float32
 17  DAYS_BIRTH                   int32
 18  DAYS_EMPLOYED                int32
 19  DAYS_REGISTRATION            float32
 20  DAYS_ID_PUBLISH              int32
 21  FLAG_MOBIL                   int32
 22  FLAG_EMP_PHONE               int32
 23  FLAG_WORK_PHONE              int32
 24  FLAG_CONT_MOBILE             int32
 25  FLAG_PHONE                   int32
 26  FLAG_EMAIL                   int32
 27  OCCUPATION_TYPE              object
 28  CNT_FAM_MEMBERS              float32
 29  REGION_RATING_CLIENT         int32
 30  REGION_RATING_CLIENT_W_CITY  int32
 31  WEEKDAY_APPR_PROCESS_START   object
 32  HOUR_APPR_PROCESS_START      int32
 33  REG_REGION_NOT_LIVE_REGION   int32
 34  REG_REGION_NOT_WORK_REGION   int32
 35  LIVE_REGION_NOT_WORK_REGION  int32
 36  REG_CITY_NOT_LIVE_CITY       int32
 37  REG_CITY_NOT_WORK_CITY       int32
 38  LIVE_CITY_NOT_WORK_CITY      int32
 39  ORGANIZATION_TYPE            object
 40  EXT_SOURCE_2                 float32
 41  EXT_SOURCE_3                 float32
 42  OBS_30_CNT_SOCIAL_CIRCLE     float32
 43  DEF_30_CNT_SOCIAL_CIRCLE     float32
 44  OBS_60_CNT_SOCIAL_CIRCLE     float32
 45  DEF_60_CNT_SOCIAL_CIRCLE     float32
 46  DAYS_LAST_PHONE_CHANGE       float32
 47  FLAG_DOCUMENT_2              int32
 48  FLAG_DOCUMENT_3              int32
 49  FLAG_DOCUMENT_4              int32
 50  FLAG_DOCUMENT_5              int32
 51  FLAG_DOCUMENT_6              int32
 52  FLAG_DOCUMENT_7              int32
 53  FLAG_DOCUMENT_8              int32
 54  FLAG_DOCUMENT_9              int32
 55  FLAG_DOCUMENT_10             int32
 56  FLAG_DOCUMENT_11             int32
 57  FLAG_DOCUMENT_12             int32
 58  FLAG_DOCUMENT_13             int32
 59  FLAG_DOCUMENT_14             int32
 60  FLAG_DOCUMENT_15             int32
 61  FLAG_DOCUMENT_16             int32
 62  FLAG_DOCUMENT_17             int32
 63  FLAG_DOCUMENT_18             int32
 64  FLAG_DOCUMENT_19             int32
 65  FLAG_DOCUMENT_20             int32
 66  FLAG_DOCUMENT_21             int32
 67  AMT_REQ_CREDIT_BUREAU_HOUR   float32
 68  AMT_REQ_CREDIT_BUREAU_DAY    float32
 69  AMT_REQ_CREDIT_BUREAU_WEEK   float32
 70  AMT_REQ_CREDIT_BUREAU_MON    float32
 71  AMT_REQ_CREDIT_BUREAU_QRT    float32
 72  AMT_REQ_CREDIT_BUREAU_YEAR   float32
 73  SK_ID_PREV                   int32
 74  MONTHS_BALANCE               int32
 75  AMT_BALANCE                  float32
 76  AMT_CREDIT_LIMIT_ACTUAL      int32
 77  AMT_DRAWINGS_ATM_CURRENT     float32
 78  AMT_DRAWINGS_CURRENT         float32
 79  AMT_DRAWINGS_OTHER_CURRENT   float32
 80  AMT_DRAWINGS_POS_CURRENT     float32
 81  AMT_INST_MIN_REGULARITY      float32
 82  AMT_PAYMENT_CURRENT          float32
 83  AMT_PAYMENT_TOTAL_CURRENT    float32
 84  AMT_RECEIVABLE_PRINCIPAL     float32
 85  AMT_RECIVABLE                float32
 86  AMT_TOTAL_RECEIVABLE         float32
 87  CNT_DRAWINGS_ATM_CURRENT     float32
 88  CNT_DRAWINGS_CURRENT         int32
 89  CNT_DRAWINGS_OTHER_CURRENT   float32
 90  CNT_DRAWINGS_POS_CURRENT     float32
 91  CNT_INSTALMENT_MATURE_CUM    float32
 92  NAME_CONTRACT_STATUS         object
 93  SK_DPD                       int32
 94  SK_DPD_DEF                   int32
dtypes: float32(35), int32(47), object(13)
memory usage: 1.3+ GB

In [ ]:
for i in range(poscash_df.shape[0], int(poscash_df.shape[0]/10)):
merge_df = pd.merge(merge_df, poscash_df, on="SK_ID_CURR", how="inner")
merge_df = DelNas(merge_df)